@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Kinetica';
  src: url('/fonts/9403kinetica.woff2') format('woff2'),
       url('/fonts/9403kinetica.woff') format('woff');
  font-weight: 400; /* adjust if the font has different weights */
  font-style: normal;
  font-display: swap;
}

.font-kinetica {
  font-family: 'Kinetica', sans-serif;
}
